appdirs==1.4.4
APScheduler==3.6.3
astroid==2.12.13
autopep8==1.5.5
cachetools==4.2.2
certifi==2022.9.24
colorama==0.4.6
dill==0.3.6
docstring-to-markdown==0.11
flake8==3.8.4
future==0.18.2
iso8601==1.0.2
isort==5.10.1
jedi==0.17.2
lazy-object-proxy==1.8.0
mccabe==0.6.1
packaging==21.3
parso==0.7.1
platformdirs==2.5.4
pluggy==1.0.0
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
pylint==2.15.7
pynput==1.7.6
pyparsing==3.0.9
pyserial==3.5
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.6.0
python-telegram-bot==13.14
pytoolconfig==1.2.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rope==1.5.1
six==1.16.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.1
tzdata==2022.7
tzlocal==4.2
ujson==5.6.0
wrapt==1.14.1
yapf==0.32.0

telegram~=0.0.1
python-dotenv~=0.21.0